---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Sarah Eisa" description="About Sarah Eisa">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="612"
          height="408"
          src="/assets/about.png"
          alt="Sarah Eisa at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a Fullstack Software Engineer with a passion for UI Design and
            Open-Source contributions, I use my strong problem-solving skills
            and enthusiasm for the web to help make people's lives easier and
            fancier. With experience working remotely with startups in diverse
            teams and Agile environments, I mainly code in Javascript, React,
            Node.js, and am always passionate to try and learn new technologies.
          </p>
          <p>
            Throughout my career, I have contributed significantly to the
            development of cutting-edge, AI-powered monitoring and defect
            detection systems in real-time. I have also built sophisticated data
            visualization charts using Apex Charts and D3 and have updated
            legacy code to modern development standards, improving operating
            costs and functionality. Additionally, I have implemented payment
            systems for SaaS products using Stripe and developed AI assistants
            for apps using ChatGPT API.
          </p>
          <p>
            My expertise extends to unit testing, React, Go programming
            language, data visualization, software as a service (SaaS), and
            real-time monitoring. I have worked with various stacks, including
            Next.js, React, TypeScript, Flutter, Heroku, Jira, and Miro, and
            have been part of cross-functional teams following the concepts of
            design thinking and user testing.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>Bachelor's degree in Computer Science at Minufiya University</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <ul>
            <li>
              Technical Skills: Proficient in Node.js, SQL, Rest API, Firebase,
              Java , with experience in React, JavaScript, CSS
              preprocessor(Sass), Go, Next.js, Redux, MongoDB.
            </li>
            <li>
              Communication: Excellent verbal and written communication skills,
              with the ability to clearly convey complex information to both
              technical and non-technical stakeholders.
            </li>
            <li>
              Problem-Solving: Strong analytical and problem-solving skills,
              with experience in identifying, analyzing, and resolving issues in
              a timely and efficient manner.
            </li>
            <li>
              Project Management: Skilled in project management and team
              collaboration, with experience in coordinating and leading
              cross-functional teams to deliver successful projects on time and
              within budget.
            </li>
            <li>
              Adaptability: Highly adaptable and able to quickly learn new
              technologies, tools, and processes to stay up-to-date with
              industry developments and best practices.
            </li>
            <li>
              Creativity: Innovative thinker with the ability to generate unique
              ideas and solutions to complex problems.
            </li>
          </ul>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    /* margin-top: 1.5rem; */
    /* border-radius: 1.5rem;
    box-shadow: var(--shadow-md); */
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
